@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    background-color: rgb(30, 205, 182);
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}
.coverItem{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 30px;
    height: 9%;
    border-radius: 5px;
    color: black;
    font-size: x-large;
    letter-spacing: 0.5px;
    text-align: center;
    border-color: rgb(13, 27, 29);
    border-width: 5px;
    background-color: rgb(224, 250, 255);
    transition: all ease 0.5s;
}
#noteDone{
    position: absolute;
    top: 80%;
    font-weight: bold;
    font-size: x-large;
    height: 12%;
    padding: 0;
}
#text{
    position: absolute;
    top: 24%;
    font-weight: bold;
    font-size: x-large;
    height: 50%;
    padding: 0vw 1vw;
    text-align: left;
    overflow-wrap: anywhere;
}
#topSpacer{
    position: relative;
    top: 0;
    height: 30px;
    width: 0;
}
#opaqueCover{
    transition: all ease-in-out 0.2s;
    position: fixed;
}
#allHeight{
    position: absolute;
    height: 100%;
}

#addNote{
    background-color: rgb(245, 187, 0);
    border-color: rgb(137, 105, 0);
    border-width: 4px;
    width: 80.3%;
    left: 0vw;
    font-weight: 800;
    transition: all, ease 0.3s;
    position: relative;
    border-radius: 0px 0px 5vw 5vw;
}
.scrollable-table {
    box-sizing: border-box;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 80%;
    position: relative;
    left: 10%;
    background-color:rgb(93, 49, 45);
}
.table{
    font-family: fantasy;
    border-collapse: collapse;
    position: relative;
    left: 0;
    width: 100%;
    overflow-y: auto;
}
.table th {
background-color:rgb(199, 15, 52);
color: rgb(0, 0, 0);
position: sticky;
font-size: 8vw;
top: 0;
width: 10px;
font-weight: bold;
text-align: center;
padding: 1vw 2vw;
letter-spacing: 1px;
height: 50px;
}
.table tr td {
padding: 1vw 2vw;
font-weight: normal;
font-size: 8vw;
font-weight: bold;
letter-spacing: 1px;
margin: 0;
}
.table tr td button{
padding: 1vw 1vw;
font-weight: normal;
font-size: 7vw;
font-weight: bold;
background-color: rgba(104, 54, 54, 0);;
border-width: 1;
overflow-wrap: anywhere;
width: 100%;
}
.table tr{
    scroll-snap-align: center;
    text-align: left;
}
.table tbody tr:nth-of-type(even) {
background-color:rgb(104, 54, 54);
}
.table tbody tr:nth-of-type(odd) {
background-color:rgb(142, 94, 94);
}